{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block title %}Sign Up{% endblock %}

{% block content %}

<div class="page-header" style="padding-top: 20px">
  <h1 class="text-left">Sign up</h1>
    <hr>
</div>
<br>
  <form method="post">
      <div class="row">

          {% csrf_token %}
          <div class="col-6">
            {{ form.username|as_crispy_field }}
            {{ form.firstname|as_crispy_field }}
            {{ form.lastname|as_crispy_field }}
            {{ form.email|as_crispy_field }}
            {{ form.mobile|as_crispy_field }}
          </div>
          <div class="col-6">
            {{ form.postcode|as_crispy_field }}
            {{ form.door_number|as_crispy_field }}
            {{ form.password1|as_crispy_field }}
            {{ form.password2|as_crispy_field }}
          </div>
          <button type="submit" class="btn btn-secondary">Sign up</button>
      </div>

   </form>

{% endblock %}