{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}

<!-- templates/registration/login.html -->
<h1 class="title text-center">Login or create an account</h1>
    <br>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center custom_div">
            <br>
            <h2 class="title">New User?</h2>
            <br>
            <!-- Creating a seperate sign up button in the crisp form for none registered users !-->
            <a href="/users/signup/" class="btn btn-secondary">Create an account</a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
            <div>
                <br>
                <h2 class="title">Registered Customer:</h2>
                <!-- Post method used to send data to the server in the request body of the http request !-->
                <form method = "POST">
                    <!-- Cross site request forgery "Protection token" tag is a way of protecting html forms to prevent malicious
                    attacks occurring in the system by tricking a users browser into loggin into a site with someone
                    else's credentials !-->
                    {% csrf_token %}
                    <!-- Loading sign in form in a crispy form template !-->
                    {{ form|crispy}}
                    <button type="submit" class="btn btn-secondary">Login</button>
                </form>
                <br>
            </div>
        </div>
    </div>

{% endblock %}


