{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroic Features - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/heroic-features.css' %}" rel="stylesheet">

  </head>

  <body style="">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#53687E">
      <div class="container">
        <a class="navbar-brand" href="#"> <img src="{% static 'logo1.png' %}" height="100" width="100">  </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  {% if user.is_authenticated %}
                  <p class="nav-link"> Hi {{ user.username }}!     <a href="{% url 'logout' %}" style="color:white">   Logout</a> <a href="{% url 'password_reset' %}">Reset password</a></p>
                    {% else %}
                      <p class="nav-link">You are not logged in <a href="{% url 'login' %}">Login</a></p>
                  {% endif %}
              </li>
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">Settings</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <br>

    <!-- Page Content -->
    <div class="container p-3">
        {% block content %}
        {% endblock %}
    </div>
    <!-- /.container -->

    <!-- Footer -->

    <footer class="fixed-bottom" height="100" style="background-color:#53687E">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  </body>

</html>
